[submodule "ds-data"]
	path = ds-data
	url = git@github.com:matsengrp/ds-data.git
[submodule "spr_neighbors"]
	path = spr_neighbors
	url = https://github.com/cwhidden/spr_neighbors.git
[submodule "gctree"]
	path = gctree
	url = git@github.com:matsengrp/gctree.git
	branch = wd-disambiguation-script
